<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abang.cart.dao.ProdectDao">
    <select id="ListProduct" resultType="com.abang.cart.bean.Product">
        select * from product
    </select>
</mapper>